body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.logo-web {
  color: rgba(77, 90, 229, 1);
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  width: 44px;
  height: 21px;
  list-style: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.menu-nav {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(46, 47, 66, 1);
  list-style: none;
}
.address {
  width: 153px;
  height: 24px;
  top: 24px;
  left: 940px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
